<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>折试试-注册</title>
    <meta name="keywords" content="折试试">
    <meta name="description" content="折试试">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/static/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css?v=4.4.0' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">ZSS</h1>
        </div>
        <h3>欢迎注册折试试账户</h3>
        <p>实名制试用平台，请用自用手机号注册</p>

        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-group">
                <input name="username" type="text" class="form-control" placeholder="请输入手机号，" required="">
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="请输入密码" required="">
            </div>
            <div class="form-group">
                <input name="password2" type="password" class="form-control" placeholder="请再次输入密码" required="">
            </div>
            <div class="error btns login-form-tips" id="jsLoginTips">
                {{ msg }}
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">注 册</button>
            <p class="text-muted text-center">
                <small>已经有账户了？</small>
                <a href={% url 'login' %}>点此登录</a>
            </p>
        </form>

    </div>
</div>
<script src="{% static 'js/jquery.wmin.js?v=2.1.4' %}"></script>
<script src="{% static 'js/bootstrap.min.js?v=3.3.5' %}"></script>
<script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
    });
</script>
{#    <script type="{% static 'text/javascript' %}" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>#}
</body>

</html>