{% extends 'base/_layout_content.html' %}
<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="orange">
									<i class="material-icons">content_copy</i>
								</div>
								<div class="card-content">
									<p class="category">Used Space</p>
									<h3 class="title">49/50<small>GB</small></h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="green">
									<i class="material-icons">store</i>
								</div>
								<div class="card-content">
									<p class="category">Revenue</p>
									<h3 class="title">$34,245</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">date_range</i> Last 24 Hours
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="material-icons">info_outline</i>
								</div>
								<div class="card-content">
									<p class="category">Fixed Issues</p>
									<h3 class="title">75</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">local_offer</i> Tracked from Github
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="blue">
									<i class="fa fa-twitter"></i>
								</div>
								<div class="card-content">
									<p class="category">Followers</p>
									<h3 class="title">+245</h3>
								</div>
								<div class="card-footer">
									<div class="stats">
										<i class="material-icons">update</i> Just Updated
									</div>
								</div>
							</div>
						</div>
					</div>
{{ test }}
{% block content %}
    <form method="post" action="/cryapp/GoodIndexAdd/">
    {% csrf_token %}
    <div class="input-group">
        产品链接URL：<input id="txtIndexAddUrl" type="text" name="txtIndexAddUrl"><br>
        关键词：<input id="keywords" type="text" name="keywords"><br>
        金额：<input id="money" onkeyup="onlyNumber(this)" type="text" name="money" placeholder="0.00" /><br>
        数量：<input id="number" type="number" name="number"><br>
        备注支持html：<input id="note" type="text" name="note"><br>
        启动日期：<input id="startdatetime" type="date" value="" name="startDate"><br>
        结束日期：<input id="endDateTime" type="date" name="endDate"><br>
        <input type="submit" value="Submit" /><br>
    </div>
    </form>
    <script>
    document.getElementById("message").innerHTML="Hello world of Javascript";
        document.getElementById("message").innerHTML="Hello world of Javascript";
    {
        document.getElementById("message").innerHTML=
            "hello world of Javascrapt";
    }

    </script>
    <script>

    function onlyNumber(obj){

                //得到第一个字符是否为负号
                var t = obj.value.charAt(0);
                //先把非数字的都替换掉，除了数字和.
                obj.value = obj.value.replace(/[^\d\.]/g,'');
                 //必须保证第一个为数字而不是.
                 obj.value = obj.value.replace(/^\./g,'');
                 //保证只有出现一个.而没有多个.
                 obj.value = obj.value.replace(/\.{2,}/g,'.');
                 //保证.只出现一次，而不能出现两次以上
                 obj.value = obj.value.replace('.','$#$').replace(/\./g,'').replace('$#$','.');
                 obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');
                 //如果第一位是负号，则允许添加
                 if(t == '-'){

                   return;
                 }

            }
    </script>
{% endblock %}
