{% extends 'shared/_layout_content.html' %}
{% load staticfiles %}

{% block style %}
    <link href="{% static 'css/plugins/jqgrid/ui.jqgrid.css' %}" rel="stylesheet"/>

    <style>
        /*a  upload */
        {#        .a-upload {#}
        {#            padding: 4px 10px;#}
        {#            height: 20px;#}
        {#            line-height: 20px;#}
        {#            position: relative;#}
        {#            cursor: pointer;#}
        {#            color: #888;#}
        {#            background: #fafafa;#}
        {#            border: 1px solid #ddd;#}
        {#            border-radius: 4px;#}
        {#            overflow: hidden;#}
        {#            display: inline-block;#}
        {#            *display: inline;#}
        {#            *zoom: 1#}
        {#        }#}

        .a-upload input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            cursor: pointer
        }

        {#        .a-upload:hover {#}
        {#            color: #444;#}
        {#            background: #eee;#}
        {#            border-color: #ccc;#}
        {#            text-decoration: none#}
        {#        }#}
    </style>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用户管理</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="form-group">
                    <button id="btnAdd" type="button" class="btn btn-primary " onclick="addModel()"><i
                            class="fa fa-check"></i>&nbsp;添加
                    </button>
                    <button id="btnEdit" type="button" class="btn btn-info " onclick="editModel()"><i
                            class="fa fa-paste"></i> 编辑
                    </button>
                    <button id="btnDel" type="button" class="btn btn-danger " onclick="delData()">
                        <i class="fa fa-dedent"></i>&nbsp;&nbsp;<span class="bold">删除</span>
                    </button>

                    <form class="form-inline" id="form_upload" method="post" action="{% url 'user' %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <a href="javascript:;" class="a-upload btn btn-w-m btn-success">
                            <input type="file" name="member" onchange="fileChange(this)"/>批量导入会员
                        </a>
                    </form>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input id="txtSearchKey" type="text" class="input form-control" placeholder="搜索关键字"/>
                        <span class="input-group-btn">
                        <button id="btnSearch" class="btn btn btn-primary" type="button"> <i class="fa fa-search"></i> 搜索</button>
                    </span>
                    </div>
                </div>

                <div class="jqGrid_wrapper">
                    <table id="table_list"></table>
                    <div id="pager_list"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    {% include 'include/jslist.html' %}
     <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>

    <script>
        function addModel() {
            $("#btnAdd").button("loading");
            window.location.href = "";
        }

        function editModel() { //编辑
            var row = JucheapGrid.GetData();
            if (row != null) {
                $("#btnEdit").button("loading");
                window.location.href = "";
            } else {
                parent.layer.alert("请选择要编辑的数据");
            }
        }

        function delData() { //删除
            XPage.DelData();
        }

        function searchData() { //搜索
            var json = {
                keywords: $("#txtSearchKey").val()
            };
            XPage.Search(json);
        }

        $(document).ready(function () {
            var config = {
                title: '用户列表',
                url: '@Url.Action("GetListWithPager")',
                colNames: ['主键', '登录名', '真实姓名', '邮箱', '注册时间'],
                colModel: [
                    {name: 'Id', index: 'Id', width: 60, key: true, hidden: true},
                    {name: 'LoginName', index: 'LoginName', width: 60},
                    {name: 'RealName', index: 'RealName', width: 60},
                    {name: 'Email', index: 'Email', width: 60},
                    {
                        name: 'CreateDateTime',
                        index: 'CreateDateTime',
                        width: 60,
                        formatter: function (cellValue, options, rowObject) {
                            return cellValue.getDate();
                        }
                    }
                ]
            };
            JucheapGrid.Load(config);
            $("#btnSearch").bind("click", searchData);
            $("#btnSetRole").bind("click", function () {
                var row = JucheapGrid.GetData();
                if (row != null) {
                    //弹出即全屏
                    var layerIndex = parent.layer.open({
                        title: "用户角色授权",
                        type: 2,
                        content: '@Url.Action("Authen")/' + row.Id + "?username=" + row.LoginName,
                        area: ['800px', '600px'],
                        maxmin: true
                    });
                    parent.layer.full(layerIndex);
                } else {
                    parent.layer.alert("请选择要授权的用户");
                }
            });
            $("#btnResetPwd").bind("click", function () {
                var row = JucheapGrid.GetData();
                if (row != null) {
                    $(this).button("loading");
                    window.location.href = "@Url.Action('ResetPwd')/" + row.Id;
                } else {
                    parent.layer.alert("请选择要重置密码的用户");
                }
            });
        });
    </script>


    <script type="text/javascript">
        function fileChange(node) {
            var fileName = '文件路径出错';
            if (node.value && node.value.lastIndexOf('.') > 0 &&
                node.value.substring(node.value.lastIndexOf('.')) === '.xls' &&
                node.value.lastIndexOf("\\") > 0) {
                fileName = node.value.substring(node.value.lastIndexOf("\\") + 1);
            } else {
                parent.layer.alert("上传的文件不是标准的excel文件");
                return false;
            }
            $('#form_upload').ajaxSubmit({
                success: function (json) {
                    if (!(json instanceof Object)) {
                        json = JSON.parse(json);
                    }
                    if (json.ret == '0') {
                        {#                    $('#div_file_result').show().html('').append('文件验证结果：<span>成功</span>');#}
                        {#                    $('#btn_update').attr('disabled', false).css('opacity', '1');#}
                    } else if (json.ret == '10010') {
                        {#                    $('#btn_update').attr('disabled', true).css('opacity', '.65');#}
                        {#                    $('#div_file_result').show().html('').append('<a href="/MemManage/DownloadVerifyExcel" class="add" id="a_download">验证失败，请下载文件查看详情</a>');#}
                    }
                    else {
                        {#                    $('#btn_update').attr('disabled', true).css('opacity', '.65');#}
                        {#                    layer.msg(json.msg);#}
                    }
                    clearFileState();
                }
            });
            $('#btn_checking').val('');
        }
        function clearFileState() {
            var file_input = $("#btn_checking");
            var parent = file_input.parent();
            file_input.remove();
            parent.append('<input type="file" name="file" value="文件验证" id="btn_checking" onchange="fileChange(this);" />');
        }

    </script>

{% endblock %}